<mat-card>


    <span *ngIf="withingsConnect">
  <img class="img-responsive"  width="100" height="100" (click)="connectWithings()" src="assets/images/withings.png">
</span>


  <span *ngIf="connect">
  <img class="img-responsive" (click)="connectStrava()" src="assets/images/btn_strava_connectwith_orange.png">
</span>

  <td-tab-select [(ngModel)]="tabValue"  stretchTabs>
    <td-tab-option value="charts">Chart</td-tab-option>
    <td-tab-option value="comb">Combined</td-tab-option>
    <td-tab-option value="strava">Strava</td-tab-option>
   <!-- <td-tab-option value="debug">Withings Debug</td-tab-option> -->

  </td-tab-select>

  <span *ngIf="tabValue=='charts'">
    <span *ngIf="(!withingsConnect && !connect) && measures.length> 0">
    <app-charts [observations]="obs"></app-charts>
      </span>
  </span>
  <span  *ngIf="(!withingsConnect || !connect) && tabValue=='comb'">
    <table [dataSource]="obsDataSource" width="100%" mat-table matSort
           matSortActive="obsDate" matSortDirection="desc"
           class="mat-elevation-z8" (sort)="sorter($event)">

          <ng-container matColumnDef="obsDate">
      <th *matHeaderCellDef mat-header-cell mat-sort-header (sort)="sorter($event)">Date</th>
      <td  *matCellDef="let observation">
        {{datepipe.transform(observation.obsDate, 'dd MMM HH:mm  ') }} </td>
    </ng-container>

       <ng-container matColumnDef="weight">
      <th *matHeaderCellDef mat-header-cell>Weight (Kg)</th>
      <td  *matCellDef="let observation">
        {{observation.weight }} </td>
    </ng-container>

          <ng-container matColumnDef="muscle">
      <th *matHeaderCellDef mat-header-cell>Muscle Mass (Kg)</th>
      <td  *matCellDef="let observation">
        {{observation.muscle_mass }} </td>
    </ng-container>

          <ng-container matColumnDef="hydration">
      <th *matHeaderCellDef mat-header-cell>Hydration (Kg)</th>
      <td  *matCellDef="let observation">
        {{observation.hydration }} </td>
    </ng-container>

        <ng-container matColumnDef="pwv">
      <th *matHeaderCellDef mat-header-cell>Pulse Wave Velocity (m/s)</th>
      <td  *matCellDef="let observation">
        {{observation.pwv }} </td>
    </ng-container>

          <ng-container matColumnDef="fat">
      <th *matHeaderCellDef mat-header-cell>Fat Mass (Kg)</th>
      <td  *matCellDef="let observation">
        {{observation.fat_mass }} </td>
    </ng-container>
    <ng-container matColumnDef="energy">
      <th *matHeaderCellDef mat-header-cell>Energy (kJ)</th>
      <td  *matCellDef="let observation">
        {{observation.energy}} </td>
    </ng-container>
         <ng-container matColumnDef="suffer">
      <th *matHeaderCellDef mat-header-cell>Suffer Score</th>
      <td  *matCellDef="let observation">
        {{observation.suffer }} </td>
    </ng-container>

          <tr mat-header-row *matHeaderRowDef="observationDisplayedColumns"></tr>
    <tr *matRowDef="let row; columns: observationDisplayedColumns" mat-row></tr>
    </table>
  </span>
  <span *ngIf="!connect&& tabValue=='strava'">
  <table [dataSource]="activityDataSource" width="100%" mat-table class="mat-elevation-z8">


     <ng-container matColumnDef="link">
      <th *matHeaderCellDef mat-header-cell>Strava</th>
      <td  *matCellDef="let activity">
        <mat-icon (click)="openStrava(activity.id)" color="primary" class="hover">open_in_new</mat-icon> </td>
    </ng-container>

      <ng-container matColumnDef="type">
      <th *matHeaderCellDef mat-header-cell>Type</th>
      <td  *matCellDef="let activity">
        <mat-icon *ngIf="activity.type==='Walk'" >directions_walk</mat-icon>
        <mat-icon *ngIf="activity.type=='Ride'" >pedal_bike</mat-icon>
        <mat-icon *ngIf="activity.type=='VirtualRide'" >directions_bike</mat-icon>
      </td>
    </ng-container>

       <ng-container matColumnDef="powerlink">
      <th *matHeaderCellDef mat-header-cell>Power.CC</th>
      <td  *matCellDef="let activity">
        <span *ngIf="activity.device_watts">
        <mat-icon (click)="openPowerCC(activity.id)" color="primary" class="hover">query_stats</mat-icon>
      </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th *matHeaderCellDef mat-header-cell>Date</th>
      <td  *matCellDef="let activity">
        {{datepipe.transform(activity.start_date, 'dd MMM HH:mm  ') }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td  *matCellDef="let activity">
      {{activity.name}} </td>
    </ng-container>

    <ng-container matColumnDef="energy">
      <th *matHeaderCellDef mat-header-cell>Energy (kJ)</th>
      <td  *matCellDef="let activity">
        {{activity.kilojoules}} </td>
    </ng-container>

    <ng-container matColumnDef="distance">
      <th *matHeaderCellDef mat-header-cell>Distance (km)</th>
      <td  *matCellDef="let activity" matTooltip="English units only, no US units">
        {{round(activity.distance / 1000)}} </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th *matHeaderCellDef mat-header-cell> Duration (min) </th>
      <td  *matCellDef="let activity">

        {{hhmm(activity.moving_time)}} </td>
    </ng-container>

     <ng-container matColumnDef="suffer">
      <th *matHeaderCellDef mat-header-cell>Suffer Score</th>
    <td  *matCellDef="let activity">
      <span *ngIf="(activity.suffer_score < 50)">
           <button mat-mini-fab color="none">{{activity.suffer_score}}</button>
      </span>
           <span *ngIf="(activity.suffer_score > 50 && activity.suffer_score < 100)">
           <button mat-mini-fab color="primary">{{activity.suffer_score}}</button>
      </span>
      <span *ngIf="(activity.suffer_score >= 100 && activity.suffer_score < 200)">
           <button mat-mini-fab color="accent">{{activity.suffer_score}}</button>
      </span>
       <span *ngIf="(activity.suffer_score >= 200)">
           <button mat-mini-fab color="warn">{{activity.suffer_score}}</button>
      </span>

  <!--    <mat-slider min="1"
                  max="300" [value]="activity.suffer_score" disabled="true"></mat-slider> -->
                  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="activityDisplayedColumns"></tr>
    <tr *matRowDef="let row; columns: activityDisplayedColumns" mat-row></tr>
  </table>
  </span>
    <span *ngIf="measures.length> 0 && tabValue=='debug'" >
    <!-- debug
  <td-json-formatter *ngIf="athlete" [data]="athlete" key="root" [levelsOpen]="1">
  </td-json-formatter> -->

 <!-- <td-json-formatter [data]="activities" key="root" [levelsOpen]="1">
  </td-json-formatter>-->

      <td-json-formatter [data]="measures" key="root" [levelsOpen]="1">
  </td-json-formatter>

  </span>

</mat-card>
