<mat-card>


    <span *ngIf="withingsConnect">
  <img class="img-responsive"  width="100" height="100" (click)="connectWithings()" src="assets/images/withings.png">
</span>
  <span *ngIf="connect">
  <img class="img-responsive" (click)="connectStrava()" src="assets/images/btn_strava_connectwith_orange.png">
</span>

  <span *ngIf="stravaComplete">
  <td-expansion-panel label="Charts" >
    <div class="md-padding">
      charts should appear here
      <app-charts [observations]="obs"></app-charts>
    </div>
  </td-expansion-panel>
    </span>

  <table [dataSource]="activityDataSource" width="100%"
         matSort
         matSortActive="start_date" matSortDirection="desc"
         mat-table class="mat-elevation-z8">

    <ng-container matColumnDef="link">
      <th *matHeaderCellDef mat-header-cell>Strava</th>
      <td  *matCellDef="let activity">
        <mat-icon (click)="openStrava(activity.id)" color="primary" class="hover">open_in_new</mat-icon> </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th *matHeaderCellDef mat-header-cell>Type</th>
      <td  *matCellDef="let activity">
        <mat-icon *ngIf="activity.type==='Walk'" >directions_walk</mat-icon>
        <mat-icon *ngIf="activity.type=='Ride'" >pedal_bike</mat-icon>
        <mat-icon *ngIf="activity.type=='VirtualRide'" >directions_bike</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="powerlink">
      <th *matHeaderCellDef mat-header-cell>Power.CC</th>
      <td  *matCellDef="let activity">
        <span *ngIf="activity.device_watts">
        <mat-icon (click)="openPowerCC(activity.id)" color="primary" class="hover">query_stats</mat-icon>
      </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="start_date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
      <td  *matCellDef="let activity">
        {{datepipe.transform(activity.start_date, 'dd MMM HH:mm  ') }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td  *matCellDef="let activity">
        {{activity.name}} </td>
    </ng-container>

    <ng-container matColumnDef="energy">
      <th *matHeaderCellDef mat-header-cell>Energy (kJ)</th>
      <td  *matCellDef="let activity">
        {{activity.kilojoules}} </td>
    </ng-container>

    <ng-container matColumnDef="calories">
      <th *matHeaderCellDef mat-header-cell>Calories (kcal)</th>
      <td  *matCellDef="let activity">
        {{activity.calories}} </td>
    </ng-container>

    <ng-container matColumnDef="distance">
      <th *matHeaderCellDef mat-header-cell>Distance (km)</th>
      <td  *matCellDef="let activity" matTooltip="English units only, no US units">
        {{round(activity.distance / 1000)}} </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th *matHeaderCellDef mat-header-cell> Duration (min) </th>
      <td  *matCellDef="let activity">

        {{hhmm(activity.moving_time)}} </td>
    </ng-container>

    <ng-container matColumnDef="average_heartrate">
      <th *matHeaderCellDef mat-header-cell> Avg. HeartRate </th>
      <td  *matCellDef="let activity">

        {{activity.average_heartrate}} </td>
    </ng-container>

    <ng-container matColumnDef="weighted_average_watts">
      <th *matHeaderCellDef mat-header-cell> Avg.(Norm.Norm.) Power </th>
      <td  *matCellDef="let activity">

        {{activity.weighted_average_watts}} </td>
    </ng-container>


    <ng-container matColumnDef="suffer">
      <th *matHeaderCellDef mat-header-cell>Suffer Score</th>
      <td  *matCellDef="let activity">
      <span *ngIf="(activity.suffer_score < 50)">
           <button mat-mini-fab color="none">{{activity.suffer_score}}</button>
      </span>
        <span *ngIf="(activity.suffer_score > 50 && activity.suffer_score < 100)">
           <button mat-mini-fab color="primary">{{activity.suffer_score}}</button>
      </span>
        <span *ngIf="(activity.suffer_score >= 100 && activity.suffer_score < 200)">
           <button mat-mini-fab color="accent">{{activity.suffer_score}}</button>
      </span>
        <span *ngIf="(activity.suffer_score >= 200)">
           <button mat-mini-fab color="warn">{{activity.suffer_score}}</button>
      </span>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="activityDisplayedColumns"></tr>
    <tr *matRowDef="let row; columns: activityDisplayedColumns" mat-row></tr>
  </table>



  <span *ngIf="tabValue=='debug'" >
      <
 <td-json-formatter [data]="activities" key="root" [levelsOpen]="1">
  </td-json-formatter>
  </span>

</mat-card>
