<mat-card>

  <span *ngIf="stravaConnect">
  <img class="img-responsive" (click)="connectStrava()" src="assets/images/btn_strava_connectwith_orange.png">
</span>

  <mat-menu #menu="matMenu">
          <span *ngFor="let chart of charts">
            <button *ngIf="chart.chart.length>0 && chart.chart[0].series != undefined" mat-menu-item (click)="toggle(chart)"><mat-icon *ngIf="chart.ticked">done</mat-icon>{{chart.name}}</button>
          </span>
          <span *ngFor="let chart of hrvcharts">
            <button *ngIf="chart.chart.length>0 && chart.chart[0].series.length>0" mat-menu-item (click)="toggle(chart)"><mat-icon *ngIf="chart.ticked">done</mat-icon>{{chart.name}}</button>
          </span>
         <span *ngFor="let chart of ihealthcharts">
            <button *ngIf="chart.chart.length>0 && chart.chart[0].series.length>0" mat-menu-item (click)="toggle(chart)"><mat-icon *ngIf="chart.ticked">done</mat-icon>{{chart.name}}</button>
          </span>
  </mat-menu>

  <mat-menu #menuExercise="matMenu">
          <span *ngFor="let barChart of bars">
          <button *ngIf="barChart.chart.length>0" mat-menu-item (click)="toggle(barChart)"><mat-icon *ngIf="barChart.ticked">done</mat-icon>{{barChart.name}}</button>
            </span>
  </mat-menu>
  <div mat-row >
     <button mat-raised-button *ngIf="stravaComplete" [matMenuTriggerFor]="menuExercise"><mat-icon>av_timer</mat-icon>Exercise</button>
    <span *ngIf="showMeasures">
      <button mat-raised-button [matMenuTriggerFor]="menu"><mat-icon>accessibility_new</mat-icon>Body Measurements</button>
    </span>
    <span>
      <mat-form-field appearance="fill">
          <mat-label>Show</mat-label>
          <mat-select [(value)]="selected" (selectionChange)="selectDuration($event)">
            <mat-option *ngFor="let duration of durations" [value]="duration.value">
              {{duration.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </span>
    <span>
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Until</mat-label>
        <input matInput [matDatepicker]="picker1" #to placeholder="End date" [formControl]="toDate" (dateChange)="dateToChanged(to.value)">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </span>

  </div>

  <span *ngFor="let chart of charts">
        <span *ngIf="chart.chart.length>0 && chart.chart[0].series != undefined">
           <app-line-chart *ngIf="chart.ticked" [results]="chart.chart" [yAxisLabel]="chart.unit" [xAxisLabel]="chart.name"> </app-line-chart>
        </span>
  </span>
  <span *ngFor="let chart of hrvcharts">
     <span *ngIf="chart.chart.length>0 && chart.chart[0].series.length>0">
           <app-line-chart *ngIf="chart.ticked" [results]="chart.chart" [yAxisLabel]="chart.unit" [xAxisLabel]="chart.name"> </app-line-chart>
        </span>
  </span>
  <span *ngFor="let chart of ihealthcharts">
     <span *ngIf="chart.chart.length>0 && chart.chart[0].series.length>0">
           <app-line-chart *ngIf="chart.ticked" [results]="chart.chart" [yAxisLabel]="chart.unit" [xAxisLabel]="chart.name"> </app-line-chart>
        </span>
  </span>
  <span *ngFor="let barChart of bars">
        <span *ngIf="barChart.chart.length>0" >
          <div class="md-padding">
                <app-bar-chart *ngIf="barChart.ticked" [results]="barChart.chart" [yAxisLabel]="barChart.unit" [xAxisLabel]="barChart.name"></app-bar-chart>
          </div>
        </span>
      </span>

  <div *tdLoading="'overlayStarSyntax'; mode: 'indeterminate'; type: 'circle'; strategy: 'overlay'; color: 'accent'">
  <table [dataSource]="activityDataSource" width="100%"
         matSort
         matSortActive="start_date" matSortDirection="desc"
         mat-table class="mat-elevation-z8">

    <ng-container matColumnDef="link">
      <th *matHeaderCellDef mat-header-cell>Strava</th>
      <td  *matCellDef="let activity">
        <mat-icon (click)="openStrava(activity.id)" color="primary" class="hover">open_in_new</mat-icon> </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Type</th>
      <td  *matCellDef="let activity">
        <mat-icon *ngIf="activity.type==='Walk'" >directions_walk</mat-icon>
        <mat-icon *ngIf="activity.type=='Ride'" >pedal_bike</mat-icon>
        <mat-icon *ngIf="activity.type=='VirtualRide'" >directions_bike</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="powerlink">
      <th *matHeaderCellDef mat-header-cell>Power.CC</th>
      <td  *matCellDef="let activity">
        <span *ngIf="activity.device_watts">
        <mat-icon (click)="openPowerCC(activity.id)" color="primary" class="hover">query_stats</mat-icon>
      </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="start_date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
      <td  *matCellDef="let activity">
        {{datepipe.transform(activity.start_date, 'dd MMM HH:mm  ') }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header width="20%">Name</th>
      <td  *matCellDef="let activity">
        {{activity.name}} </td>
    </ng-container>

    <ng-container matColumnDef="kilojoules">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Energy (kJ)</th>
      <td  *matCellDef="let activity">
         <span *ngIf="(activity.kilojoules < enerygRange.low)">
           <button mat-mini-fab color="none">{{round(activity.kilojoules)}}</button>
      </span>
        <span *ngIf="(activity.kilojoules>= enerygRange.low && activity.kilojoules < enerygRange.medium)">
           <button mat-mini-fab color="accent">{{round(activity.kilojoules)}}</button>
      </span>
        <span *ngIf="(activity.kilojoules>= enerygRange.medium && activity.kilojoules < enerygRange.tough)">
           <button mat-mini-fab color="primary">{{round(activity.kilojoules)}}</button>
      </span>
        <span *ngIf="(activity.kilojoules >= enerygRange.tough)">
           <button mat-mini-fab color="warn">{{round(activity.kilojoules)}}</button>
      </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="suffer_score">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Suffer Score</th>
      <td  *matCellDef="let activity">
        <span *ngIf="isNum(activity.suffer_score)">
      <span *ngIf="(activity.suffer_score < sufferRange.low)">
           <button mat-mini-fab color="none">{{activity.suffer_score}}</button>
      </span>
        <span *ngIf="(activity.suffer_score > sufferRange.low && activity.suffer_score < sufferRange.medium)">
           <button mat-mini-fab color="accent">{{activity.suffer_score}}</button>
      </span>
        <span *ngIf="(activity.suffer_score >= sufferRange.medium && activity.suffer_score < sufferRange.tough)">
           <button mat-mini-fab color="primary">{{activity.suffer_score}}</button>
      </span>
        <span *ngIf="(activity.suffer_score >= sufferRange.tough)">
           <button mat-mini-fab color="warn">{{activity.suffer_score}}</button>
      </span>
</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="ratio">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>HR/Pwr Ratio</th>
      <td  *matCellDef="let activity">
        {{ratio(activity.average_heartrate, activity.weighted_average_watts) }} </td>
    </ng-container>

    <ng-container matColumnDef="intensity">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Intensity</th>
      <td  *matCellDef="let activity">
 <span *ngIf="isNum(activity.intensity)">
        <span *ngIf="(activity.intensity < intensityRange.low)">
             <button mat-mini-fab color="none">{{activity.intensity}}</button>
      </span>
        <span *ngIf="(activity.intensity > intensityRange.low && activity.intensity < intensityRange.medium)">
           <button mat-mini-fab color="accent">{{activity.intensity}}</button>
      </span>
        <span *ngIf="(activity.intensity >= intensityRange.medium && activity.intensity < intensityRange.tough)">
           <button mat-mini-fab color="primary">{{activity.intensity}}</button>
      </span>
        <span *ngIf="(activity.intensity >= intensityRange.tough)">
           <button mat-mini-fab color="warn">{{activity.intensity}}</button>
      </span>
 </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="average_cadence">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Average Cadence</th>
      <td  *matCellDef="let activity">
        {{activity.average_cadence}} </td>
    </ng-container>

    <ng-container matColumnDef="distance">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Distance (km)</th>
      <td  *matCellDef="let activity" matTooltip="English units only, no US units">
        {{round(activity.distance / 1000)}} </td>
    </ng-container>

    <ng-container matColumnDef="moving_time">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Duration (min) </th>
      <td  *matCellDef="let activity">

        {{hhmm(activity.moving_time)}} </td>
    </ng-container>

    <ng-container matColumnDef="average_heartrate">
      <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Average Heart Rate"> Avg. Heart Rate </th>
      <td  *matCellDef="let activity">

        {{activity.average_heartrate}} </td>
    </ng-container>

    <ng-container matColumnDef="weighted_average_watts">
      <th *matHeaderCellDef mat-header-cell mat-sort-header matTooltip="Average Normalised Power"> Avg (N) Power </th>
      <td  *matCellDef="let activity">
        {{activity.weighted_average_watts}}

         </td>
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="activityDisplayedColumns"></tr>
    <tr *matRowDef="let row; columns: activityDisplayedColumns" mat-row></tr>
  </table>
  </div>


  <span *ngIf="tabValue=='debug'" >

       <td-json-formatter [data]="activities" key="root" [levelsOpen]="1">
        </td-json-formatter>
  </span>

</mat-card>
