
<div>
  <table fxFill="100" mat-table [dataSource]="dataSource" matSort matSortActive="period.start" matSortDirection="desc"  class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="identifier">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let questionnaireResponse"> {{questionnaireResponse.id}} </td>
    </ng-container>
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef> Notes </th>
      <td mat-cell *matCellDef="let questionnaireResponse">
        <span *ngIf="questionnaireResponse.item !== undefined">
         <span *ngFor="let item of questionnaireResponse.item">
              <b>{{item.text}}</b>
           <span *ngIf="item.answer !== undefined">
            <span *ngFor="let itemAnswer of item.answer">
                {{itemAnswer.valueString}}
                   <span *ngIf="itemAnswer.valueReference !== undefined && itemAnswer.valueReference.reference !== undefined">

                            <span *ngIf="itemAnswer.valueReference.reference.startsWith('Observation')">
                              <app-observation [reference]="itemAnswer.valueReference.reference" [serverName]="serverName"></app-observation>
                            </span>
                             <span *ngIf="itemAnswer.valueReference.reference.startsWith('DocumentReference')">
                              <app-document-reference [reference]="itemAnswer.valueReference.reference" [serverName]="serverName"></app-document-reference>
                            </span>

                        {{itemAnswer.valueReference.reference}}
                   </span>
                    <br/>
                </span>
           </span>
         </span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="resource">
      <th mat-header-cell *matHeaderCellDef width="5%">FHIR</th>
      <td mat-cell *matCellDef="let questionnaireResponse">

        <button mat-icon-button color="accent"  matTooltip="View FHIR resource" (click)="select(questionnaireResponse)"><mat-icon>code</mat-icon></button>

      </td>
    </ng-container>


   <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
