<td-layout class="layout-nav-demo" sidenavWidth="280px">
  <td-navigation-drawer
    flex
    sidenavTitle="Menu" >
    <mat-list>
      <mat-list-item (click)="logout()">Logout</mat-list-item>

    <mat-list-item  *ngIf="withingsConnect" (click)="connectWithings()">
  <img class="img-responsive"  width="25" height="25"  src="assets/images/withings.png"> Withings
</mat-list-item >

    <mat-list-item  *ngIf="ihealthConnect" (click)="connectIHealth()" >
        <img class="img-responsive" width="25%" height="25" src="assets/images/ihealth.png">
    </mat-list-item >
    </mat-list>
  </td-navigation-drawer>
  <td-layout-nav-list navigationRoute="/" opened="false" mode="side">

    <div td-sidenav-content>


    </div>
    <div td-toolbar-content flex-auto>
            <span flex>
            <button mat-icon-button td-menu-button tdLayoutToggle>
                <mat-icon>menu</mat-icon>
            </button>
              {{name}}
            </span>
      <!--   <span *ngIf="drugName"> - {{drugName}}</span> -->
    </div>
    <router-outlet></router-outlet>
  </td-layout-nav-list>
</td-layout>
