
<td-layout class="layout-nav-demo" sidenavWidth="280px">
  <td-navigation-drawer
    flex
    sidenavTitle="Menu" >
    <mat-list>
      <mat-list-item routerLink="/logout">Logout</mat-list-item>
      <mat-list-item routerLink="/">Patient Find</mat-list-item>

    </mat-list>
    <span>
    </span>
  </td-navigation-drawer>
  <td-layout-nav-list navigationRoute="/" opened="false" mode="side"
                      [opened]="media.registerQuery('gt-sm') | async"
                      [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
                      [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '50px' : '100%'">

    <div td-toolbar-content layout="row" layout-align="start center" flex>
            <span *ngIf="screenWidth>680"> {{name}}</span>
            <span flex></span>
      <span flex></span>
      <button mat-icon-button matTooltip="Account">
          <mat-icon routerLink="/logout">person</mat-icon>
      </button>
    </div>
    <!--
    <div td-sidenav-toolbar-content layout="row" layout-align="start center">
      <button mat-icon-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
    </div> -->
    <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
      <a mat-list-item routerLink="/" matTooltip="Patient Search"><mat-icon>search</mat-icon></a>
      <span *ngIf="patient">
        <a mat-list-item (click)="onClickR('')" matTooltip="Summary"><mat-icon>dashboard</mat-icon></a>
         <a mat-list-item (click)="onClickR('problem')" matTooltip="Summary"><mat-icon>info</mat-icon></a>
        <a mat-list-item (click)="onClickR('observation')" matTooltip="Observations"><mat-icon>event_note</mat-icon></a>
        <a mat-list-item (click)="onClickR('medication')" matTooltip="Medications"><mat-icon>local_pharmacy</mat-icon></a>
        <a mat-list-item (click)="onClickR('immunisation')" matTooltip="Immunisations"><mat-icon>flight</mat-icon></a>
        <a mat-list-item (click)="onClickR('document')" matTooltip="Documents"><mat-icon> insert_drive_file</mat-icon></a>
      </span>
    </mat-nav-list>
    <router-outlet></router-outlet>
    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption">Copyright &copy; 2022 Virtually Healthcare. All rights reserved</span>
      </div>
    </td-layout-footer>
  </td-layout-nav-list>
</td-layout>
