

<span *ngIf="patientId!=undefined">

   <mat-card>
     <mat-card-content>

       <mat-tab-group>
  <mat-tab label="Problems">

         <!-- Conditions -->

    <app-condition [patientId]="patientId" (encounter)="selectEncounter($event)"> </app-condition>


  </mat-tab>
  <mat-tab label="Prescriptions">

    <app-medication-request [patientId]="patientId" > </app-medication-request>

</mat-tab>
         <mat-tab label="Observations">

    <app-observation [patientId]="patientId" > </app-observation>

</mat-tab>
         <mat-tab label="Documents">

    <app-document-reference [patientId]="patientId" > </app-document-reference>

</mat-tab>
           <mat-tab label="Consultations">

    <app-composition [patientId]="patientId" > </app-composition>

</mat-tab>
            <mat-tab label="Vaccinations">

    <app-immunisation [patientId]="patientId" > </app-immunisation>

</mat-tab>
         <mat-tab label="Allergies">

    <app-allergy-intolerance [patientId]="patientId" > </app-allergy-intolerance>

</mat-tab>
         <mat-tab label="Diary/Task">

    <app-task [patientId]="patientId" > </app-task>

</mat-tab>
       </mat-tab-group>
  </mat-card-content>
     </mat-card>
</span>







