
<span *ngIf="patientId!=undefined">

   <mat-card>
     <h2>Summary</h2>
     <mat-card-content>

       <mat-tab-group>
          <mat-tab label="EMIS Summary">

                 <!-- Conditions -->
            <h2>Active Problems</h2>
            <app-condition [patientId]="patientId" [serverName]="'EMIS'" (encounter)="selectEncounter($event)" [clinicalStatus]="'active'"> </app-condition>

            <h2>Allergies</h2>
             <app-allergy-intolerance [patientId]="patientId" [serverName]="'EMIS'"> </app-allergy-intolerance>

            <h2>Diary Entries</h2>
           <app-task [patientId]="patientId" [serverName]="'EMIS'"> </app-task>
          </mat-tab>
         <mat-tab label="Virtually Summary">

                 <!-- Conditions -->
            <h2>Active Problems</h2>
            <app-condition [patientId]="patientId" [serverName]="'AWS'" (encounter)="selectEncounter($event)" [clinicalStatus]="'active'"> </app-condition>

            <h2>Allergies</h2>
             <app-allergy-intolerance [patientId]="patientId" [serverName]="'AWS'"> </app-allergy-intolerance>

          <!--  <h2>Diary Entries</h2>
           <app-task [patientId]="patientId" [serverName]="'AWS'"> </app-task> -->
          </mat-tab>

          <mat-tab label="EMIS Consultations">

            <app-composition [patientId]="patientId" [serverName]="'EMIS'"> </app-composition>

          </mat-tab>

          <mat-tab label="Virtually Encounters">

            <app-encounter [patientId]="patientId" [serverName]="'AWS'"> </app-encounter>

          </mat-tab>

       </mat-tab-group>
  </mat-card-content>
     </mat-card>

</span>







